<div class="container">
  <div class="form">
    <input type="text" placeholder="La description du tâche ..." [(ngModel)]="description">
    <button (click)="ajouter()">Ajouter</button>
  </div>
  <h1>List of tasks</h1>
  <ul>
    <li *ngFor="let t of tasks" [ngClass]="t.completed ? 'termine' :'nonTermine'" >Id: {{t.id}} -- Description: {{t.description | uppercase}} -- Date d'ajout: {{t.dateAjout | date:'short'}} <span *ngIf="t.completed">Terminé</span><button *ngIf="!t.completed" (click)="terminer(t)">Terminer</button></li>
  </ul>
</div>
